<div class="org-table" ng-show="!orgCreateOrUpdate">
    <div class="col-xs-12">
        <div class="toolbar">
            <div class="col-xs-6">
                <span class="heading">Overview of All Organisations</span>
            </div>
            <div class="col-xs-6">
                <div class="form-inline">
                    <button class="margin-left-10 btn btn-green pull-right" data-ng-click="orgCreateOrUpdate = true; onOrgCreateBtnClick()"> Create New Organisation </button>
                    <button class="margin-left-10 btn btn-green pull-right" data-ng-click="toggleFiltering()"> Search </button>
                </div>
            </div>
        </div>
        <div ui-grid="orgGridOptions" ui-grid-auto-resize external-scopes="$scope" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>
    </div>
</div>

<div class="org-create-update-form" ng-show="orgCreateOrUpdate">
    <div class="row remove-margin">
        <div class="col-xs-6">
            <div class="heading margin-bottom-10 margin-left-5">Add New Organisation</div>
        </div>
    </div>
    <div class="row remove-margin">
        <form autocomplete="off" angular-validator-submit="createOrUpdateOrg()" name="usrForm" class="form-horizontal" novalidate angular-validator>
            <div class="row remove-margin">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Organisation Details</div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Organisation Name:</label>
                                    <input type="text" class="form-control" required name="orgname" ng-model="orgObject.name" required-message="'This field is required'" validate-on="dirty" ng-disabled="isEditMode" />
                                </div>
                                <div class="form-group">
                                    <label>Organization industry:</label>
                                    <input type="text" class="form-control" required name="org_industry" ng-model="orgObject.org_industry" required-message="'This field is required'" validate-on="dirty">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Category:</label>
                                    <input type="text" class="form-control" required name="category" ng-model="orgObject.category" required-message="'This field is required'" validate-on="dirty">
                                </div>
                                <div class="form-group">
                                    <label>Website:</label>
                                    <input type="text" class="form-control" ng-model="orgObject.website" required name="website" required-message="'This field is required'" validate-on="dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Organisation Contact Person</div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Contact Name:</label>
                                    <input type="text" class="form-control" required name="contact_name" ng-model="orgObject.contact_name" required-message="'This field is required'" validate-on="dirty" ng-disabled="isEditMode">
                                </div>
                                <div class="form-group">
                                    <label>Email Id:</label>
                                    <input type="text" class="form-control" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required name="contact_email" ng-model="orgObject.contact_email" required-message="'This field is required'" validate-on="dirty" ng-disabled="isEditMode">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Mobile:</label>
                                    <input type="tel" class="form-control" required name="contact_num" ng-model="orgObject.contact_num" required-message="'This field is required'" validate-on="dirty">
                                </div>
                                <div class="form-group">
                                    <label>Designation:</label>
                                    <input type="text" class="form-control" ng-model="orgObject.contact_desg" required name="org_designation" required-message="'This field is required'" validate-on="dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Licenses</div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Initial No. of User License:</label>
                                    <input type="number" class="form-control" ng-model="orgObject.user_limit" required name="user_limit" required-message="'This field is required'" validate-on="dirty" min="1">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Feed License:</label>
                                    <div>
                                        <select class="selectpicker" multiple>
                                            <option ng-repeat="feed in feedsList track by $index" value="{{feed}}">{{feed.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Feeds</th>
                                                <th>No. of License</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="feed in addedFeeds">
                                                <td>{{feed.name}}</td>
                                                <td>
                                                    <input type="number" ng-model="feed.totalCount" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row remove-margin">
                <div class="org-create-footer">
                    <input type="submit" name="go" ng-disabled="loginPressed" class="btn btn-lg btn-green" value="Submit" />
                    <button type="button" class="btn btn-green-cancel" ng-click="orgCreateOrUpdate = false; reset();" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>