.dashboard-card{
  height: 90px;
  padding: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 6px -6px #CCC;
	   -moz-box-shadow: 0 10px 6px -6px #CCC;
	        box-shadow: 0 10px 6px -6px #CCC;
}

.dashboard-info-panel{
  padding: 15px 10px;
  .content{
    float: left;
    margin: 5px 20px;
    .number{
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
    }
    .label-heading{
      font-size: 16px;
      color: #666666;
    }
  }
}

.users-table,
.org-table,
.master-feeds-table{
  padding: 5px;
  .toolbar{
    background: #FFF;
    border: 1px solid #94c0d2;
    line-height: 30px;
    height: 50px;
    padding: 10px 0;
    width: 100%;
  }
}


#new-user-modal,
#new-feed-modal,
#new-org-modal{
  .modal-content{
    border-radius: 0;
  }
  .modal-footer{
    border-radius: 0;
    text-align: center !important;
  }
  .modal-header{
    padding: 10px;
    background: #EEE;
    font-size: 13px !important;
    font-weight: bold;
  }
  .modal-body{
    padding-bottom: 0;
  }

  .usr-form{
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    input.form-control{
      width: 90%;
    }
    .check-box{
      height: 25px;
      line-height: 25px;
      input[type="checkbox"]{
        float: left;
        margin-right: 5px;
      }
    }
  }
}

.org-create-update-form{
  .panel-body{
    .form-group{
        margin-left: 0;
        margin-right: 0;
    }
  }
  .org-create-footer{
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    z-index: 1000;
    padding: 15px;
  }
}
