.insight-panel{
  padding: 5px;
  .insight-list{
    min-height: 100px;
    display: inline-block;
    width: 220px;
    float: left;
    .panel-group {

      width: 210px; 

      .panel-title{
        color: #009B9B;
        font-size: 13px !important;
      }

    }
    .insight-info-box{
      height: 40px;
      width: 185px;
      padding: 5px;
      background-color: #edf7f6;
      border-left: 3px solid #edf7f6;
      border-radius: 2px;
      text-align: left;
      margin: 10px 0;
      cursor: pointer;
      position: relative;

      &.active{
        border-color: #009B9B;
      }
      div{
        &:nth-child(1){
          float: left;
        }
        &:nth-child(2){
          line-height: 30px;
          height: 30px;
          float: left;
        }
      }
      &.danger{
        background-color: #ffc6c6;
        border: 1px solid #ffc6c6;
      }
      &.warning{
        background-color: #ffe8ba;
        border: 1px solid #ffe8ba;
      }
      &:hover{
        background-color: #009B9B;
        color: #FFFFFF !important;
      }
    }
  }
  .insight-info{
    border-left: 1px solid #CCC;
    float: left;
    padding: 0 10px;
    width: calc(100% - 220px);
    min-height: 200px;

    .card-content{
      min-height: 200px;
      margin-top: 10px;
    }

    .ui-grid{
      height: 380px;
    }

    .ts-card{
      height: 50px;
      min-width: 100px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      padding: 10px;
      &.green{
        background-color: #edf7f6;
      }
      &.grey{
        background-color: #e5e5e5;
      }
      &.in-progress{
        background-color: #ffe8ba;
      }
    }
  }
  .form-footer{
    padding: 15px 0;
    text-align: left;
    border-top: 1px solid #e5e5e5;
  }
}

ul.image_picker_selector{
  li{
    img{
      height: 100px;
      width: 100px;
    }
    &:hover{
      cursor: pointer;
      div.thumbnail {
        border-color: #009B9B !important;
      }
      
    }
    div.thumbnail{
      border: 1px solid #ddd !important;
      &.selected{
        background: #FFFFFF !important;        
      }
    }
  }
} 

.tab-content {
  background: #FFFFFF;
  padding-top: 20px;
  display: inline-block;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 100%;
}