.pane-header.pane-list-header {
    -webkit-flex: none;
    flex: none;
    height: 45px;
    line-height: 25px;
    width: 100%;
    background-color: #eee;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    z-index: 1000;
    padding-right: 16px;
    padding-left: 15px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.ed-main-container {
	height: calc(100vh - 120px);
	width: calc(100% - 10px);
	margin: 10px 5px 0 5px;
	background-color: #FFF;
	img.data-set-name {
    	margin-right: 10px;
    	border-radius: 25px;
    }
	.easy-autocomplete {
		width: 100% !important;
		.easy-autocomplete-container ul{ 													// Dropup style for autocomplete
			top: -130px !important;
			height: 83px;
			overflow-y: auto;
		}
	}
	.left-container {
		border-right: 1px solid #F6F6F6; 
		width: 100%;
		height: calc(100vh - 120px);
		background-color: #DCE9E6;
		.chatlist-panel-search {
		    background-color: #DCE9E6;
		    -webkit-flex: none;
		    flex: none;
		    border-bottom: 1px dotted #FFFFFF;
		}
		.list-search {
		    -webkit-flex: none;
		    flex: none;
		    height: 49px;
		    box-sizing: border-box;
		    padding: 10px;
		    position: relative;
		    z-index: 100;
		    transition: box-shadow 0.18s ease-out,background-color 0.18s ease-out;
		    transition-delay: 0.12s;
		    padding: 0;
		    .input-group {
		    	width: 95%;
		    	position: absolute;
		    	i.x-grey-icon{
		    	  position: absolute;
		    	  top: 20px;
		    	  right: 0px;
		    	  z-index: 3;
		    	  cursor: pointer;
		    	}
				input[type=text] {
				    width: 100%;
			    	margin: 10px 10px 0 5px;
			    	border-radius: 0;
				    box-sizing: border-box;
				    border: 0 none;
				    font-size: 12px;
				    height: 30px;
				    background-color: white;
				    background-image: url('../images/searchicon.png');
				    background-position: 2px 1px; 
				    background-repeat: no-repeat;
				    background-size: 25px auto;
				    padding-left: 35px;
				    &:focus{
				      border: 1px solid #009B9B;
				    }
				}
		    }
		}
		.data-set-list{
			height: calc(100vh - 170px);
		    overflow-x: hidden;
    		overflow-y: auto;
			ul{
				list-style: none;
			    margin: 0;
			    padding: 0;
			    li {
				    padding: 10px 10px 0px 10px;
				    cursor: pointer;
						border-bottom: 1px solid #FFF;
						.datasetNameSpan{
							position: relative;
							top: -6px;
						}
						.domainNameColor{
							margin-left: 49px;
							color: #959595;
							position: relative;
							top: -18px;
							left: 0px;
						}
						&:hover{
				    	background-color: #76C2AB;
				    	color: #FFFFFF;
				    	.data-set-name {
				    		background-color: #FFFFFF !important;
								color: #009B9B !important;
							}
							
				    }
				    &.active{
				    	background-color: #FFFFFF;
				    	border-right: 3px solid #067D75;
							color: #009B9B;
							padding-bottom: 0px;
				    	.data-set-name {
				    		background-color: #067D75 !important;
								color: #FFF !important;
							}
						}
				}
			}
		}
	}
	.right-container{
		.chat-space{
			background: #f6f6f6;
			height: calc(100vh - 120px);
			width: 100%;
			padding-right: 5px;
			position: relative;
			overflow: hidden;
			.chat-text{
				height: calc(100vh - 170px);
				overflow-y: auto;
				width: calc(99% + 1.5%);
				#chat-date{
					border-top: 1px solid #CCC;
					width: 90%;
					margin: 35px auto;
					position: relative;
					span {
						height: 20px;
						width: auto;
						display: inline-block;
						padding: 0 10px;
						position: absolute;
						left: calc(50% - 75px);
						top: -10px;
						font-size: 12px;
						line-height: 21px;
						background-color: #DCE9E6;
						color: #067D75;
						border-radius: 3px;
					}
				}
			}
			.text-input{
				padding: 3px 5px;
				position: absolute;
				border-top: 1px dotted #DCE9E6;
				bottom: 0;
				width: 100%;
				textarea {
					width: 100%;
					height: 40px;
					margin-right: 10px;
					padding: 5px 85px 5px 5px;
					resize: none;
					vertical-align: middle;
					border: 0 none;
				}
				button{
					position: absolute;
				    right: 10px;
				    top: 10px;
				}
			}
		}
	}
	.sub-content{
		.graph-content {
			.chart {
				> div{
					-webkit-box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					-moz-box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					box-shadow: 5px 0px 20px 0px rgba(238,238,238,1);
					border: 1px solid #CCC;	
					height: 300px;
				}
				.chart-heading{
					padding: 10px;
					text-align: center;
					border-bottom: 1px solid #CCC;
					font-weight: bold;
				}
				
			}
		}
	}
}

.typing-indicator {
  $ti-color-bg: #DCE9E6;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: table;
  margin: 0 auto;
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: #067D75;
  //animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 4px 1px;
    background-color: #067D75;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
    .chat-img > .data-set-name{
    	background-color: #067D75 !important;
		color: #FFF !important;
    }
}

.chat li {
  padding: 10px;
  border-bottom: 1px dotted #DCE9E6;
  &.left .chat-body {
    margin-left: 40px;
  }
  &.right .chat-body {
    margin-right: 50px;
  }
}

.chat-body {
	position: relative;
	.header {
	  min-height: 20px;
	}
	.settings{
		position: absolute;
		top: 30px;
		right: 36%;
	}
}

.chat-time {
  &.pull-right {
    clear: right;
  }
  &.pull-left {
    clear: left;
  }
}

.chat li .chat-body div.mseg {
  background: #FFF;
  padding: 5px;
  border-top: 2px solid #2B3E46;
  display: inline-block;
  min-width: 150px;
  &.pull-left {
    border-color: #067D75;
  }
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}