.dropdown{
  cursor: pointer;
}
a.user-menu {
  line-height: 45px !important;
  padding: 0 10px !important;
  &:focus{
    background-color: #FFFFFF !important;
  }
}

.headerDivider {
   border-left:1px solid #CCCCCC;
   border-right:1px solid #CCCCCC;
   height: 40px;
   position:absolute;
   left:130px;
   top:5px;
}

.ts-menu-links{
  padding: 12px;
  li{
    margin: 0 5px;
    &.active{
      a {
          background-color: #009B9B !important;
          color: #FFFFFF !important;
          border-radius: 5px;
      }
    }
  }
  a {
    padding: 2px 6px !important;
    color: #009B9B !important;
  }
}

.loading{
  background: url("../images/spinner.gif");
  height: 74px;
  width: 75px;
  background-size: 75px;
  display: inline-block;
}