/* Login Css*/
 .login-container{
   margin: 80px auto 0 auto;
   text-align: center;
   width: 280px;
   input.form-control{
     border-radius: 40px;
     border: 0 none;
     text-align: center;
   }
   .btn{
     border-radius: 40px;
     width: 305px;
   }
 }
