.ts-image{
  background: url("../images/ts.svg");
  background-size: 1200px 668px;
  display: inline-block;
  &.logo{
    background-position: 0 0;
    height: 118px;
    width: 100px;
  } 
  &.header-logo{
    background-position: -8px -124px;
    height: 35px;
    width: 130px;
  }
  &.avatar{
    background-position: -260px -28px;
    height: 42px;
    width: 42px;
    float: left;
  }
  &.user-lic{
    background-position: -265px -321px;
    float: left;
    height: 82px;
    width: 75px;
  }
  &.user-feed-lic{
    background-position: -98px -321px;
    float: left;
    height: 82px;
    width: 75px;
  }
  &.user-group{
    background-position: -180px -321px;
    float: left;
    height: 82px;
    width: 75px;
  }
  &.pencil-icon{
    background-position: -13px -252px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    &:hover{
      background-position: -43px -252px;
    }
  }
  &.info-icon{
    background-position: -364px -175px;
    height: 28px;
    width: 28px;
  }
  &.danger-icon{
    background-position: -307px -175px;
    height: 28px;
    width: 28px;
  }
  &.success-icon{
    background-position: -336px -175px;
    height: 28px;
    width: 28px;
  }
  &.warning-icon{
    background-position: -393px -175px;
    height: 28px;
    width: 28px;
  }
  &.x-grey-icon{
    background-position: -459px -261px;
    height: 12px;
    width: 14px;
  }
}

.view-png{
  background: url("../images/view.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.upload-png{
  background: url("../images/upload.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.delete-png{
  background: url("../images/delete.png");
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
  cursor: pointer;
}

.tag-png{
  background: url("../images/tag.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.download-png{
  background: url("../images/download.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.share-png{
  background: url("../images/share.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}