@import url( '../../../bower_components/bootstrap/dist/css/bootstrap.css' );
@import url( '../../../bower_components/jquery.bootgrid/dist/jquery.bootgrid.min.css' );
@import url( '../../../bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' );
@import url( '../../../bower_components/angular-ui-grid/ui-grid.min.css' );
@import url( '../../../bower_components/angular-block-ui/dist/angular-block-ui.min.css' );
@import url( '../../../bower_components/ng-tags-input/ng-tags-input.min.css' );
@import url( '../../../bower_components/image-picker/image-picker/image-picker.css' );
@import url( '../../../bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css' );
@import url( './dc.css' );

@import 'sprite';
@import 'helper-class';
@import 'login';
@import 'layout';
@import 'dashboard';
@import 'dataAdmin';
@import 'exploreData';

*{
  outline: 0;
}

html{
  width: 100%;
}

body{
  background-color: #fff;
  font-size: 13px;
  font-family: helvetica;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  width: 100%;
}

a{
  color: #009b9b;
  cursor: pointer;
  &:hover, &:focus{
    text-decoration: none;
    color: #009b9b;
  }
  
}

.navbar-default{
  background-color: #FFFFFF;
}

.heading{
  font-size: 14px;
  font-weight: bold;
}

.panel-heading{
  font-weight: bold;
}

.page-header{
  margin: 20px 0;
  font-size: 18px;
  padding-bottom: 0;
}

label{
  font-weight: normal;
}

input.form-control{
  height: 30px;
  padding: 0 5px;
  border-radius: 0;
}

input[type="radio"]{
  margin: 0;
}

.btn{
  height: 30px;
  min-width: 75px;
  font-size: 13px;
  border: 1px solid #009B9B;
  border-radius: 2px;
  padding: 5px;
  &.btn-green{
    background-color: #009B9B;
    color: #FFFFFF;
    &:focus{
      background-color: #009B9B;
    }
  }
  &.btn-green-cancel{
    background-color: #FFFFFF;
    color: #009B9B;
    &:focus, &:hover {
      background-color: #009B9B;
      color: #FFFFFF;
    }
  }
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B3B3B3;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #B3B3B3;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #B3B3B3;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #B3B3B3;
}

.bootstrap-select .dropdown-toggle:focus{
   outline: 0 !important;
   background: transparent;
}

.notification-error {
  padding: 20px;
  color: #D8000C;
  background-color: #FFBABA;
  padding: 10px;
  z-index: 1231452 !important;
}

.notification-info {
  padding: 20px;
  color: #00529B;
  background-color: #BDE5F8;
  padding: 10px;
  z-index: 1231452 !important;
}

[class*="col-"]{
  padding-left: 10px;
  padding-right: 10px;
}

.ui-grid {
  color: #003f59;  
  .ui-grid-viewport{
    background-color: #FFFFFF;
  }
  .ui-grid-row{
    height: 35px !important;
    .ui-grid-cell{
      .btn{
        height: 25px;
        padding: 0;
        margin-left: 5px;
        margin-top: 2px;
        min-width: 50px;
      }
    }
  }
}


/* The switch - the box around the slider */
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-checkbox.ng-not-empty + .onoffswitch-label{
  border-color: #009B9B; 
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999; 
    border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 16px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 5px;
    background-color: #DDDDDD; color: #009B9B;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 5px;
    background-color: #DDDDDD; color: #827D7D;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 0px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #009B9B; 
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #E5E5E5; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot { background: #edf7f6 }
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot { background: #ffe8ba;  animation: pulse 2s infinite;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #888888; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after { background: #009B9B };
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after { background: #fbbd19 };
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #edf7f6;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
/*END Form Wizard*/

.footer{
  padding: 10px;
  left: 0;
  width: 100%;
  background: #E6E7E8;
  position: fixed;
  bottom: 0;
  z-index: 840;
  height: 50px;
  line-height: 30px;
  font-size: 12px;
  margin: 0;
  z-index: 840;
  .title {
    color: #666;
    font-weight: bold;
  }
}

