<section class="login">
    <div class="container">
        <div class="row">
            <div class="login-container">
                <form angular-validator-submit="login()" name="loginForm" class="form-horizontal" novalidate angular-validator>
                    <i class="ts-image logo margin-bottom-30"></i>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" ng-model="email" required class="form-control" invalid-message="'This not a valid Email'" required-message="'This field is required'" validate-on="dirty" />
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="pass" placeholder="Password" name="password" required required-message="'This field is required'" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="go" ng-disabled="loginPressed" class="btn btn-lg btn-green btn-raised" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>