<div class="dashboard-info-panel padding-top-20">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-3">
                <div class="dashboard-card">
                    <i class="ts-image user-lic"></i>
                    <div class="content">
                        <div class="number" ng-bind="userLimit"></div>
                        <div class="label-heading">User License</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="dashboard-card">
                    <i class="ts-image user-feed-lic"></i>
                    <div class="content">
                        <div class="number" ng-bind="feedsLimit"></div>
                        <div class="label-heading">Feed(s) License</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="dashboard-card">
                    <i class="ts-image user-group"></i>
                    <div class="content">
                        <div class="number" ng-bind="users.length">0</div>
                        <div class="label-heading">Total Active User</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="dashboard-card">
                    <i class="ts-image user-lic"></i>
                    <div class="content">
                        <div class="number">0</div>
                        <div class="label-heading">Total User License</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="users-table">
    <div class="col-xs-12">
        <div class="toolbar">
            <div class="col-xs-9">
                <span class="heading">Overview of All Users</span>
            </div>
            <div class="col-xs-3">
                <div class="form-inline">
                    <button class="margin-left-10 btn btn-green pull-right" data-toggle="modal" ng-click="reset()" data-target="#new-user-modal"> Add New User</button>
                    <button class="margin-left-10 btn btn-green pull-right" data-ng-click="toggleFiltering()"> Search </button>
                </div>
            </div>
        </div>
        <div ui-grid="userGridOptions" external-scopes="$scope" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>
    </div>
</div>
<!-- Modal -->
<div id="new-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="usrForm.reset()" data-dismiss="modal">&times;</button>
                Add User Profile
            </div>
            <div class="modal-body">
                <div class="usr-form">
                    <form autocomplete="off" angular-validator-submit="addOrUpdateUser()" name="usrForm" class="form-horizontal" novalidate angular-validator>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="fname">First Name:</label>
                                        <input type="text" class="form-control" required name="fname" ng-model="userObject.fname" required-message="'This field is required'" validate-on="dirty" />
                                    </div>
                                    <div class="form-group">
                                        <label for="lname">Last Name:</label>
                                        <input type="text" class="form-control" required name="lname" ng-model="userObject.lname" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                    <div class="form-group">
                                        <label for="dname">Display Name:</label>
                                        <input type="text" class="form-control" required name="display_name" ng-model="userObject.display_name" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <div class="controls">
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio" ng-value="'Male'" value="Male" ng-model="userObject.gender">Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio" ng-value="'Female'" value="Female" ng-model="userObject.gender">Female
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="user_email">Email Id:</label>
                                        <input type="text" class="form-control" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required name="user_email" ng-model="userObject.email" required-message="'This field is required'" validate-on="dirty" ng-disabled="isEditMode" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="mobile_num">Mobile:</label>
                                        <input type="tel" class="form-control" required name="mobile_num" ng-model="userObject.mobile_num" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                    <div class="form-group">
                                        <label for="designation">Designation:</label>
                                        <input type="text" class="form-control" required name="designation" ng-model="userObject.designation" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                    <div class="form-group" ng-show="!isEditMode">
                                        <label for="password">Password:</label>
                                        <div class="check-box">
                                            <input type="checkbox" name="password" checked="checked" disabled>Generate Temporary</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userFeeds">Feeds:</label>
                                        <div>
                                            <select class="selectpicker" multiple>
                                                <option ng-repeat="feed in feedsList track by $index" value="{{feed._id}}">{{feed.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="role">User Type:</label>
                                        <div class="controls">
                                            <label class="radio-inline">
                                                <input ng-disabled="isEditMode" type="radio" name="usertype" ng-value="'user'" value="user" ng-model="userObject.role">End User
                                            </label>
                                            <label class="radio-inline">
                                                <input ng-disabled="isEditMode" type="radio" name="usertype" ng-value="'dataAdmin'" value="dataAdmin" ng-model="userObject.role">Data Admin
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center modal-footer">
                                <input type="submit" name="go" ng-disabled="loginPressed" class="btn btn-lg btn-green" value="Submit" />
                                <button type="button" class="btn btn-green-cancel" ng-click="reset();" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>