<div class="master-feeds-table">
    <div class="col-xs-12">
        <div class="toolbar">
            <div class="col-xs-6">
                <span class="heading">Master Feed(s) Information</span>
            </div>
            <div class="col-xs-6">
                <div class="form-inline">
                    <button class="margin-left-10 btn btn-green pull-right" data-toggle="modal" ng-click="reset()" data-target="#new-feed-modal"> Create New Feed </button>
                    <button class="margin-left-10 btn btn-green pull-right" data-ng-click="toggleFiltering()"> Search </button>
                </div>
            </div>
        </div>
        <div ui-grid="feedGridOptions" external-scopes="$scope" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>
    </div>
</div>

<div id="new-feed-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="reset(); feedForm.reset();" data-dismiss="modal">&times;</button>
                Create New Feed
            </div>
            <div class="modal-body">
                <div class="usr-form">
                    <form autocomplete="off" angular-validator-submit="addOrUpdateFeed()" name="feedForm" class="form-horizontal" novalidate angular-validator>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" required name="name" ng-model="feedObject.name" required-message="'This field is required'" validate-on="dirty" />
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <input type="text" class="form-control" required name="description" ng-model="feedObject.description" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="price">Price
                                            <small>(per user in $)</small>:</label>
                                        <input type="number" class="form-control" required name="price" ng-model="feedObject.price" required-message="'This field is required'" validate-on="dirty">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Active</label>
                                        <div class="controls">
                                            <div class="onoffswitch">
                                                <input type="checkbox" ng-model="feedObject.active" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center modal-footer">
                                <input type="submit" name="go" class="btn btn-lg btn-green" value="Submit" />
                                <button type="button" class="btn btn-green-cancel" ng-click="reset();" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>