<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand padding-all-10" ui-sref="dashboard">
	        <i class="ts-image header-logo"></i>
	      </a>
                <div class="headerDivider"></div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ts-menu-links">
                    <li ng-class="{active: uiState.current.activeTab === 'home'}" ng-if="userRole === 'user'">
                        <span style="font-size: 18px; color: #067D75; ">ATHENA - Data Explorer - {{ selectedDataset.domainName }}</span>
                    </li>
                    <li ng-class="{active: uiState.current.activeTab === 'home'}" ng-if="userRole === 'dataAdmin'">
                        <a ui-sref="dashboard">Data Management</a>
                    </li>
                    <li ng-class="" ng-if="userRole === 'dataAdmin'">
                        <a ng-href="">Insight Management</a>
                    </li>
                    <li ng-class="" ng-if="userRole === 'dataAdmin'">
                        <a ng-href="">Feed Management</a>
                    </li>
                    <li ng-class="{active: uiState.current.activeTab === 'exploreData'}" ng-if="userRole === 'dataAdmin'">
                        <a ui-sref="exploreData">Explore Data</a>
                    </li>

                    <li ng-class="{active: uiState.current.activeTab === 'home'}" ng-if="userRole === 'admin' || userRole === 'superAdmin'"><a ui-sref="dashboard">Home</a></li>
                    <li ng-class="{active: uiState.current.activeTab === 'feeds'}">
                        <a ui-sref="masterFeeds" ng-if="userRole === 'superAdmin'">Feeds</a>
                        <a ui-sref="orgFeeds" ng-if="userRole === 'admin'">Feeds</a>
                    </li>
                    <li ng-class="{active: uiState.current.activeTab === 'reports'}" ng-if="userRole === 'superAdmin'"><a ui-sref="reports">Reports</a></li>
                    <li ng-class="{active: uiState.current.activeTab === 'api'}" ng-if="userRole === 'admin' || userRole === 'superAdmin'">
                        <a ui-sref="api">API</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a ng-href="">Link</a></li> -->
                    <li class="dropdown margin-right-20">
                        <a ng-href="" class="user-menu dropdown-toggle profile-image" data-toggle="dropdown">
			        	<i class="ts-image avatar"></i> {{loggedUserName}} <b class="caret"></b>
							</a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="login" ng-click="logout()">Logout</a></li>
                            <!-- <li><a ui-sref="settings" ng-click="settings()">Logout</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="col-xs-12" ng-if="!uiState.current.hideHeader && userRole !== 'user'">
        <div class="page-header padding-left-5">
            <strong>{{ uiState.current.title || pageTitle }}</strong>
        </div>
    </div>

    <ui-view> </ui-view>
</section>
<footer class="footer">
    <div class="col-xs-3 text-left">Release 1.1.0</div>
    <div class="col-xs-6 text-center title">ATHENA – “Using Natural Language queries, gain access to key insights instantly”</div>
    <div class="col-xs-3 text-right">Copyright &copy; ThickStat Inc.</div>
</footer>