<div class="col-xs-12" style="padding-left: 15px;">
    <ul class="nav nav-tabs margin-top-10">
        <li class="active">
            <a href="javascript:void(0); #data-load" data-toggle="tab">Data Load</a>
        </li>
        <li>
            <a href="javascript:void(0); #connectors" data-toggle="tab">Connectors</a>
        </li>
        <li>
            <a href="javascript:void(0); #graph" data-toggle="tab">Knowledge Graph</a>
        </li>
        <li>
            <a href="javascript:void(0); #security" data-toggle="tab">Security</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="data-load">
            <div class="insight-panel">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a ng-href="" ng-click="cancelInsightCreation(); showInsightViews('c')">+ New Data</a>
                        </div>
                        <div class="panel-body">
                            <div class="insight-list">
                                <div class="text-left heading margin-bottom-10">Data List</div>
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-default" ng-repeat="(key, value) in kbInfoList" is-open="status.open">
                                        <uib-accordion-heading>
                                            {{key}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </uib-accordion-heading>
                                        <div class="insight-info-box" ng-class="{active: kbInfo.name == selected}" ng-click="showInsightViews('v', kbInfo, kbInfo.name)" ng-repeat="kbInfo in value | orderBy: 'name'">
                                            <div><i class="ts-image success-icon"></i></div>
                                            <div>{{kbInfo.name}}</div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="insight-info">
                                <div class="create-insight" ng-show="isCreateNewInsight">
                                    <div class="text-left heading  margin-bottom-5">Create New Data</div>
                                    <div class="col-xs-9" ng-show="!showCreateForm">
                                        <div class="text-left heading margin-bottom-20 text-center">
                                            <small>Choose Datasource</small>
                                        </div>
                                        <select class="image-picker show-html" ng-change="onSelectDatasource(dataSourcevalue)" ng-model="dataSourcevalue">
                                            <option data-img-src="resources/images/{{img.name}}.png" ng-repeat="img in imgList" data-img-alt="{{img.name}}" value="{{img.id}}"> </option>
                                        </select>
                                    </div>
                                    <div class="padding-all-10" ng-show="showCreateForm">
                                        <form autocomplete="off" angular-validator-submit="saveInsight()" name="insightForm" class="form-horizontal" novalidate angular-validator>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <div class="form-group">
                                                            <label for="name">Insight Name:</label>
                                                            <input type="text" class="form-control" required name="name" ng-model="insightObject.name" required-message="'This field is required'" invalid-message="'Insight name is already saved.'" validate-on="dirty" validator="checkInsightName(insightObject.name)" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Insight description:</label>
                                                            <textarea class="form-control" rows="5" name="description" ng-model="insightObject.description"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="retentionPeriod">Retention Period:</label>
                                                            <input type="number" max="250" min="1" class="form-control" required name="retentionPeriod" ng-model="insightObject.retentionPeriod" required-message="'This field is required'" validate-on="dirty">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <div class="margin-left-50">
                                                            <div class="form-group">
                                                                <label>Category:</label>
                                                                <div>
                                                                    <select class="selectpicker">
                                                                        <option ng-repeat="category in categories track by $index" value="{{category.name}}">{{category.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <ul class="nav nav-tabs margin-top-10">
                                                                    <li class="active">
                                                                        <a href="javascript:void(0); #file-upload" data-toggle="tab">Excel/CSV Upload</a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content ">
                                                                    <div class="tab-pane active padding-bottom-30" id="file-upload">
                                                                        <div class="text-center padding-top-10" ng-if="uploader.queue.length === 0">
                                                                            <input type="file" nv-file-select="{ id: 'your_id' }" id="selectedFile" uploader="uploader" accept=".xls,.xlsx" style="display: none;" />
                                                                            <a ng-href="" onclick="document.getElementById('selectedFile').click();">Browse here</a> to choose Excel/CSV files.
                                                                        </div>
                                                                        <ng-include src="'app/common/templates/fileUploadTemplate.html'"></ng-include>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row text-left form-footer">
                                                    <input type="submit" name="submit" ng-disabled="!isFileUploaded" class="btn btn-lg btn-green" value="Submit" />
                                                    <button type="button" class="btn btn-green-cancel" ng-click="cancelInsightCreation()">Cancel</button>
                                                </div>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="view-insight" ng-show="isViewInsight">
                                    <div class="text-left heading margin-bottom-10">
                                        {{ insightName }}
                                        <i class="upload-png pull-right" ng-click="uploader.clearQueue();uploader.destroy();" data-toggle="modal" data-target="#append-modal"></i>
                                        <i class="margin-right-10 view-png pull-right"></i>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Date</th>
                                                <th>Completion Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in kbInfoHistory">
                                                <td>{{data.filepath || "NA"}}</td>
                                                <td>{{data.createdAt}}</td>
                                                <td>{{data.status}}</td>
                                                <td><i class="delete-png"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="view-insight" ng-show="isViewStatusOfInsight">
                                    <div class="text-left heading margin-bottom-20">
                                        {{ insightName }}
                                    </div>
                                    <div>
                                        <div class="row bs-wizard" style="border-bottom:0;">
                                            <div class="col-xs-3 bs-wizard-step">
                                                <div class="text-center bs-wizard-stepnum">Data Profile</div>
                                                <div class="progress">
                                                    <div class="progress-bar"></div>
                                                </div>
                                                <a ng-href="" class="bs-wizard-dot"></a>
                                                <!-- <div class="bs-wizard-info text-center">Lorem ipsum dolor sit amet.</div> -->
                                            </div>
                                            <div class="col-xs-3 bs-wizard-step">
                                                <div class="text-center bs-wizard-stepnum">Knowledge Confirmation</div>
                                                <div class="progress">
                                                    <div class="progress-bar"></div>
                                                </div>
                                                <a ng-href="" class="bs-wizard-dot"></a>
                                                <!-- <div class="bs-wizard-info text-center">Nam mollis tristique erat vel tristique. Aliquam erat volutpat. Mauris et vestibulum nisi. Duis molestie nisl sed scelerisque vestibulum. Nam placerat tristique placerat</div> -->
                                            </div>
                                            <div class="col-xs-3 bs-wizard-step">
                                                <div class="text-center bs-wizard-stepnum">Knowledge Creation</div>
                                                <div class="progress">
                                                    <div class="progress-bar"></div>
                                                </div>
                                                <a ng-href="" class="bs-wizard-dot"></a>
                                                <!-- <div class="bs-wizard-info text-center">Integer semper dolor ac auctor rutrum. Duis porta ipsum vitae mi bibendum bibendum</div> -->
                                            </div>
                                            <div class="col-xs-3 bs-wizard-step">
                                                <div class="text-center bs-wizard-stepnum">Ready for Reasoning</div>
                                                <div class="progress">
                                                    <div class="progress-bar"></div>
                                                </div>
                                                <a ng-href="" class="bs-wizard-dot"></a>
                                                <!-- <div class="bs-wizard-info text-center"> Curabitur mollis magna at blandit vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</div> -->
                                            </div>
                                        </div>
                                        <div class="row margin-all-20">
                                            <div ng-if="showKnwConfirmation" class="col-xs-12">
                                                <span style="height: 28px; display: inline-block; position: relative; line-height: 28px; padding-left: 30px; margin-bottom: 10px;"><i class="ts-image info-icon" style="position: absolute; left: 0px;"></i> Double click the cell to edit/change the values.</span>
                                                <div ui-grid="knwlConfGridOptions" external-scopes="$scope" ui-grid-selection ui-grid-edit ui-grid-resize-columns class="myGrid"></div>
                                                <button class="btn btn-green pull-right margin-top-10" ng-click="confirmKnwld()">Confirm & Proceed </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="sync-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Add Synonyms
            </div>
            <div class="modal-body">
                <tags-input use-strings="true" ng-model="tags.syn"></tags-input>
            </div>
        </div>
    </div>
</div>

<div id="append-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Append Data
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="text-center padding-bottom-20" ng-if="uploader.queue.length === 0">
                        <input type="file" nv-file-select="{ id: 'your_id' }" id="selectedFile" uploader="uploader" accept=".xls,.xlsx" style="display: none;" />
                        <a ng-href="" onclick="document.getElementById('selectedFile').click();">Browse here</a> to choose Excel/CSV files.
                    </div>
                    <ng-include src="'app/common/templates/fileUploadTemplate.html'"></ng-include>
                    <div class="row modal-footer">
                        <button type="button" class="btn btn-green" ng-disabled="!isFileUploaded">Append</button>
                        <button type="button" class="btn btn-green-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>